body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
  
}
h1 {
    font-size: 50px;
}
.header-color {
    color: orange;
}
/* Section style */
section {
    margin-bottom: 80px;
}

.firstpage {
    display: flex;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    
    
}
.sec-1 {
    width: 50%;
    padding-left: 2%;
    
}
.sec-1 img {
    width: 80%;
}
/*Hire me Button Style*/

.hire-style {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}

/* Second Section */

.secondpage {
    display: flex;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}



/* Download Button style */

.dresume-style {
    text-decoration: none;
    background-image:linear-gradient(yellow, red) ;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}

/* Third Page */
.sec-main{
    display: flex;
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.header-third {
    color: orange;
}
h2 {
    font-size: 40px;
}
.sec-2 {
    width: 40%;
    padding-left: 20px;
    box-shadow: 10px 10px 20px gray;  
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border-left: 7px solid;
    border-image: linear-gradient(purple, red);
    border-image-slice: 1;

}
.sec-3 {
    width: 40%;
    padding-left: 20px;
    box-shadow: 10px 10px 30px gray;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan) ;
    border-image-slice: 1;

}
.footer-para {
    text-align: center;
}